<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="at.dasz.KolabDroid" android:versionCode="40"
	android:versionName="0.4">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:name="CrashReporterApplication">

		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="at.dasz.KolabDroid.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".Settings.SettingsView"
			android:label="@string/settings">
			<intent-filter>
				<action android:name="at.dasz.KolabDroid.Settings.action.EDIT_TITLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".ContactsContract.EditContactActivity"
			android:label="Edit Contact">
			<intent-filter android:label="Edit Contact">
                  <action android:name="android.intent.action.EDIT" />
                  <category android:name="android.intent.category.DEFAULT" />
                  <data android:mimeType="vnd.android.cursor.item/person" android:host="contacts" />
                  <data android:mimeType="vnd.android.cursor.item/contact" android:host="com.android.contacts" />
                  <data android:mimeType="vnd.android.cursor.item/raw_contact" android:host="com.android.contacts" />
              </intent-filter>
  
              <intent-filter android:label="New Contact">
                  <action android:name="android.intent.action.INSERT" />
                  <category android:name="android.intent.category.DEFAULT" />
                  <data android:mimeType="vnd.android.cursor.dir/person" />
                  <data android:mimeType="vnd.android.cursor.dir/contact" />
                  <data android:mimeType="vnd.android.cursor.dir/raw_contact" />
              </intent-filter>
		</activity>
		<activity android:name="org.acra.CrashReportDialog"
        	android:theme="@android:style/Theme.Dialog"
        	android:launchMode="singleInstance"
        	android:excludeFromRecents="true"
        	android:finishOnTaskLaunch="true" />
        	
		<service android:name=".Sync.ResetService" />
		<service android:name=".Sync.ResetSoftService" />
		<service android:name=".Account.KolabAccountAuthenticatorService"
			android:exported="true">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/account_authenticator" />
		</service>
		<service android:name=".Sync.KolabContactSyncService"
			android:exported="true">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/contact_syncadapter" />
			<meta-data android:name="android.provider.CONTACTS_STRUCTURE"
				android:resource="@xml/contacts" />
		</service>
		<service android:name=".Sync.KolabCalendarSyncService"
			android:exported="true">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/calendar_syncadapter" />
		</service>
		<provider android:name="at.dasz.KolabDroid.Calendar.FakeCalendarContentProvider"
			android:label="Calendar"
          	android:authorities="at.dasz.KolabDroid.Calendar"  />
	</application>
	<uses-sdk android:minSdkVersion="5" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 